/*Kayci Davila student id: 2141560*/
#field-section{
    display: flex;
    background-color: #fcfcd2;
    margin: 5px;
    flex-direction: column;
}

#field-section fieldset{

    display: flex;
    margin: 10px;
    
    justify-content: space-between;

}

.input {

    border: green dotted 1px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px 10px 10px ;
}
.labels-input{

    display: flex;
    flex-direction: row;
}
.input-container{

    display: flex;
    flex-direction: row;
    margin: 6px 6px 0px;
    background-color: #ededed ;
    width: 100%;
    
}
.input-container div{

    display: flex;
    flex-direction: column;
}

#validation_img{
    display: flex;
    flex-direction: column;
}
#status,#category{

    width: 100%;
    margin: 2px 0px;
}
fieldset p{
    margin: 0 6px;
    background-color: #8f1111;
    color: white;
    border: dotted black 1px;
  

}
#description_container{
    display: flex;
    flex-direction: column;
}
#description{
    height: 60px;
    margin: 0px 0px 2px;
}
#descr_label{
    text-align: left;
}
#textarea{

    display: flex;
    flex-direction: column;
}
#textarea  textarea{

    height: 75px;
}
.input label{
    width:200px;
    border:red dotted 1px;
    padding: 5px;
    display: inline-block;
    text-align: right;
    margin:2px 0px;
}
.input input{
    margin: 2px 0px;
    width: 100%;
    
}
#button-container{

    display: flex;
    flex-direction: row;
    justify-content:center;

}
#button-container button{

    border: 1px outset lightblue;
    background-color: #0977b3;
    color: white;
    padding: 10px 50px;
    margin: 5px 60px;
    
    
}
#button-container2{

    display: flex;
    flex-direction: row;
    justify-content:center;

}