/*Kayci Davila student id: 2141560*/
body{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    margin: 0px 80px;
    background-color: gray;
    border: black solid 5px;
}

header {
    margin: 5px;
    background-color: #6f2c9c;
    text-align: center;
    color: white;
}

#button-container2 input{

    border: 1px outset lightblue;
    background-color: #0977b3;
    color: white;
    padding: 10px 50px;
    margin: 5px 25px;
    
}

#display-section{

    background-color: #62b2b5;
    height: 500px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#query-container{

    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

#query-container input{

    width: 500px;
    height: 30px;
}

#table-section{

    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}


#query-result{
    background-color: white;
    height: 20px;
    color: red;
    margin: 0;
}
footer{
    background-color: #6f2c9c;
    text-align: center;
    color: white;
    margin-top: auto;
   

}
img{
    padding: 0px 6px 3px;
    height: 25px;
    width: 25px;
}
.hidden{
    display: none;
}
.show {
    display:inline-block;
}