/* 
Kayci Nicole Davila student id:2141560
Alex Alonso Davila student id:2132425
*/
#tb1 td{
    border: 1px solid black;
    text-align: center;
}
td input{
    width: 75px;
}
td img{

    height: 25px;   
    width: 25px;
    padding: 3px;
}
table{
    background-color: white;
    border:1px solid black;
}
th{

    background-color: darkgreen;
    color: white;
}
.sorting {

    display: flex;
    flex-direction: row;
    text-align: right;
}

.sorting img {
    height: 20px;
    width: 20px;
    padding: 0px 0px 0px 10px;
    float: inline-end;
}